@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-300 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

 .panels div {
    background: #FFF;
    width: 19.4375rem;
    height: 13.875rem;

    border-radius: .5rem ; 
    padding-top: 1.6875rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    margin-bottom: 1.5625rem;    
    box-shadow: 0rem .9375rem 1.875rem -0.6875rem rgba(131, 166, 210, 0.50);
}

.panels img {
    margin-top: 2.0625rem;
    float: right;
}

.panels h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

    color:#4D4F62;
    font-size: 20px;
    line-height: 30px;
}

.panels p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    color:#4D4F62;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: .09px;
}


/* 
color: #4D4F62;
line-height: 1.4375rem;
letter-spacing: .0056rem;
*/