.poppins-300 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

 .panels div {
    background: #FFF;
    color:#4D4F62;
    width: 19.4375rem;
    height: 13.875rem;
    padding: 1.6875rem 1.75rem 0 1.75rem;
    margin-bottom: 1.5625rem;    
    border-radius: .5rem ;
    box-shadow: 0rem .9375rem 1.875rem -0.6875rem rgba(131, 166, 210, 0.50);
}

.panels img {
    float: right;
}

.panels h3,h4,h5,h6 {

    font-size: 1.25rem;
    line-height: 1.875rem;

}

.panels h3,h4,h5,h6 {
    @extend .poppins-600;
}

.panels p {    
    font-size: .8125rem;
    line-height: 1.4375rem;
    letter-spacing: .0056rem;
    opacity: 0.5;
  }
  
  .panels p {
    @extend .poppins-400;
  }